.RDShowBtn {
    display: block;
    margin: 24px 0;
    padding: 18px 28px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--IDentity_color);
    backdrop-filter: blur(12px);
    color: var(--SecondBGColor);
    border: 1px solid var(--BorderColor);
}

.d-flex-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}