.work-dashboard {
    font-family: "Barlow","sans-serif";
    background-color: var(--MainBGColor);
    h2 {
        margin-top: 8px;
        padding: 16px;
        text-align: center;
        background-color: var(--SecondBGColor);
        color: var(--MainFontColor);
    }
}
